<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orders">
    <insert id="insert">
      insert into orders(orderno,uid) values(#{orderNo},#{user.id})
    </insert>

    <!-- findById -->
    <select id="selectOne" parameterType="int" resultMap="RM_Order">
      select
        o.id      oid ,
        o.orderno oorderno ,
        o.uid     uid ,
        u.name    uname ,
        u.age     uage ,
        i.id      iid,
        i.itemname iitemname
      from orders o
        left outer join users u on o.uid = u.id
        left outer join items i on o.id = i.oid
      where o.id = #{id}
    </select>
    <!-- findAll -->
    <select id="selectAll" resultMap="RM_Order">
      select
        o.id      oid ,
        o.orderno oorderno ,
        o.uid     uid ,
        u.name    uname ,
        u.age     uage ,
        i.id      iid,
        i.itemname iitemname
      from orders o
        left outer join users u on o.uid = u.id
        left outer join items i on o.id = i.oid
    </select>
     <!--自定义结果映射 -->
    <resultMap id="RM_Order" type="_Order">
        <id property="id" column="oid"/>
        <result property="orderNo" column="oorderno"/>
        <!--用户使用关联-->
        <association property="user" javaType="_User">
            <id property="id" column="uid" />
            <result property="name" column="uname" />
            <result property="age" column="uage" />
        </association>
        <collection property="items" ofType="_Item">
            <id property="id" column="iid" />
            <result property="itemName" column="iitemname" />
        </collection>
    </resultMap>
</mapper>